/1 exer.exe
/1 exer.o
/1221uriprimofuncao.exe
/1221uriprimofuncao.o
/1555uri.exe
/1555uri.o
/2 exer.exe
/teste.o
/teste1.exe
/teste1.o
/teste2.exe
/teste2.o
/testeapagar.exe
/testeapagar.o
/testecadastro.exe
/testecadastro.o
/testedecre.exe
/testedecre.o
/testeprova.exe
/testeprova.o
/testeprova1.exe
/testeprova1.o
/tresvariaveis.exe
/tresvariaveis.o
/triangulo.exe
/triangulo.o
/triangulo2.exe
/triangulo2.o
/udemyc.exe
/udemyc.o
/universidade.exe
/universidade.o
/uri.exe
/uri.o
/uriarray1172.exe
/uriarray1172.o
/uriarray1173.exe
/uriarray1173.o
/uriarray1174.exe
/uriarray1174.o
/uriarray1175.exe
/uriarray1175.o
/uriarray1180.exe
/uriarray1180.o
/urimenorprova.exe
/urimenorprova.o
/uristrings.exe
/uristrings.o
/uristrings1.exe
/uristrings1.o
/variaveis.exe
/variaveis.o
/velhauri1338.exe
/velhauri1338.o
/Virgulawhilec.exe
/Virgulawhilec.o
/While.exe
/While.o
/zerouriobi.exe
/zerouriobi.o